<a href="https://colab.research.google.com/github/YunseongKo/aipython/blob/main/240102ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2.6 : 하나의 변수를 활용하는 코드
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

In [ ]:
# 2.7 : 하나의 변수를 활용하는 코드
Lab = 105
print('우리가 수업하는 실습실:', Lab)

In [ ]:
# 2.8
# 변수 두 개를 생성하고 값을 할당
my_id = 20150001
garde = 1

# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

In [ ]:
# 2.9
dollars = 2.75
print('I have', dollars, 'in my account.')

# 변수에 새로운 값을 할당하면 이 줄 밑으로는 새롭게 할당된 변수로 정의된다
dollars = 99.95
print('But now I have', dollars, 'in my account!')

In [1]:
# 2.10
department = "국어국문학과"
name = "홍길동"
print(department, name)

# Index를 이용한 출력방식
a=[department, name]
print(a[0], a[1])

국어국문학과 홍길동
국어국문학과 홍길동

In [2]:
# 2.11
department = input("학과명: ")
name = input("성명: ")
print("안녕하세요", department, name)
print("안녕하세요 "+ department + " " name)

학과명: 의학과
성명: 고윤성
안녕하세요 의학과고윤성

In [3]:
# 2.12
name = input("당신의 이름은 무엇입니까? ")
age = int(input("나이는 어떻게 되시나요? "))
attending_time = float(input("통학시간은 얼마나 걸립니까? "))

print("입력 정보는 다음과 같습니다.")
print("이름:", name)
print("나이:", age)
print("통학시간:", attending_time)

# attending time을 소수 아래 두번째 자리까지 나타내려면 어떻게 해야할까?
print("통학시간: {:.2f}".format(attending_time))
print(f"통학시간: {attending_time:.2f}")
print("통학시간: %.2f" % attending_time)

당신의 이름은 무엇입니까? 1
나이는 어떻게 되시나요? 1

In [4]:
# 2.13 : 미리 실수로 정의
salary = 2500.0
bonus = 1200.0
pay = salary + bonus
print('총 급여:', pay)

총 급여: 3700.0

In [ ]:
# 2.14
original_price = float(input("제품의 원가를 입력해주세요: "))
discout = original_price * 0.2
sale_price = original_price - discout
print("할인가: ", sale_price)

In [ ]:
# 2.15
t1 = float(input("첫 과목 점수를 입력해주세요: "))
t2 = float(input("두번쨰 과목 점수를 입력해주세요: "))
t3 = float(input("세번째 과목 점수를 입력해주세요: "))
avg = (t1 + t2 + t3) / 3.0
print("3 과목 평균 점수", avg)

In [ ]:
#2.16
total_seconds = float(input('시간 값을 초 단위로 입력해주세요: '))
hours = total_seconds // 3600
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60
print("시 분 초는 다음과 같습니다")
print("시: ", hours)
print("분: ", minutes)
print("초: ", seconds)

# 띄어쓰기가 귀찮으면
print("시: "+"hours")
print("분: "+"minutes")
print("초: "+"seconds")

In [ ]:
# 2.17
future_value = float(input("목표 금액을 입력해주세요; "))
rate = float(input("연간 이율을 입력해주세요: "))
years = int(input("저축 기간을 연 단위로 입력해주세요: "))
present_value = future_value / (1.0 + rate)**years
print("적립 금액: ", present_value)

In [ ]:
# 2.18 : separator, sep
# 간격을 조정할 수 있다
print('a','b','c')
print('a','b','c',sep='')
print('a','b','c',sep='***')

In [ ]:
# 2.19 : end, 자동 줄바꾸는 끝 부분을 임의적으로 조정할 수 있다
print('a')
print('b')
print('c',end='')
print('d',end='')
print('e',end='***')
print('f')